
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
dist-playable/
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# Local debug artifacts
#//////////////////////////
_debug_*
assets_list.txt
_models_with_uuid.txt
_textures_with_uuid.txt
_unreferenced_models.txt
_unreferenced_textures.txt
